* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #2F2E3E;
    --text-color: #FDFCFE;
    --contrast-bg: #45465B;
    --main-color: #9166fd;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.wrapper {
    height: 100vh;
    width: 100%;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: var(--background-color);   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title h1 {
    text-align: center;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
}

.circular-progress {
    position: relative;
    height: 170px;
    width: 170px;
    background: conic-gradient(var(--main-color)   180deg, #2F2E3E 0deg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.circular-progress::before {
    content: '';
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: var(--contrast-bg);
}

.progress-value {
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: var(--text-color);
}

.text {
    font-weight: 600;
    margin-bottom: 2rem;
}

.bmi-infos {
    background-color: #393848;
    border-radius: 8px;
    padding-block: 1rem;
    margin-bottom: 2rem;
}

.bmi-infos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bmi-infos ul li {
    width: 100%;
    max-width: 280px;
}

.gender-radio img {
    width: 32px;
    height: 32px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    background-color: var(--background-color);
}

.gender-radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.gender-radio p {
    flex: 1;
}

.input-container {
    position: relative;
    margin-inline: .8rem;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.input-container .radio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--contrast-bg);
    border-radius: 8px;
}

input:checked + .radio-title {
    border: 3px solid var(--main-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-digit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-digit {
    margin-bottom: 1em;
}

.input-digit input {
    border: 2px solid var(--main-color);
    border-radius: 8px;
    height: 45px;
    text-align: end;
    padding-right: 1em;
    background: transparent;
    width: 100%;
    max-width: 250px;
    font-size: 18px;
    color: var(--text-color);
}

.input-digit input:focus {
    outline: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    background-color: var(--background-color);
}

.btn-calc {
    border: none;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(58, 57, 72, 1) 0px 0px 0px 7px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.btn-clear {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background-color: var(--contrast-bg);
    padding: 1rem;
    border-radius: 8px;
    color: var(--text-color);
    box-shadow: rgba(58, 57, 72, 1) 0px 0px 0px 7px;
}

.error-message {
    color: var(--main-color);
    font-weight: 600;
}

@media (max-width: 360px) {
    .title h1 {
        font-size: 1.7rem;
    }
    .circular-progress {
        height: 150px;
        width: 150px;
    }
    
    .circular-progress::before {
        height: 130px;
        width: 130px;
    }
    
    .progress-value {
        font-size: 25px;
    }

    .bmi-infos ul {
        list-style: none;
        text-align: center;
        margin-inline: 1rem;
    }

    .input-digit input {
        max-width: 200px;
    }
}

@media (min-width: 768px) {
    .bmi-infos ul li {
        font-size: 1.2rem;
        max-width: 100%;
        padding-left: 1rem;
        list-style: none;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .input-digit p, .gender-radio p {
        font-size: 1.2rem;
    }
    
    .input-digit input {
        height: 50px;
        text-align: left;
        padding-left: 1rem;
        max-width: 400px;
    }

    .wrapper {
        padding-inline: 10rem;
    }

}

@media (min-width: 1440px) {
    .wrapper {
        padding-inline: 20rem;
    }
}

@media (min-width: 1920px) {
    .wrapper {
        padding-inline: 40rem;
    }
}